:root{
    --lightblue : #0480fd;
}

body{
    margin:0;
    overflow: hidden;
    /* background: #336699; */
}

.tool{
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
}
.tools
{
    display: flex;
    justify-content: space-evenly;
}
.card
{
    padding: 0.5;
    width: 5rem;
    height: 5rem;
    background: lightblue;
    display: none;
    position:absolute;
    flex-direction: column;
    justify-content:space-around;
    border: black 3px solid;
}
canvas{
    border: #336699 3px solid;
    margin: 5px;
}
.show{
   display: flex;
}
.active{
    background-color:  #CCCCCC;
    border-radius: 50%;
}

.color{
    display: flex;
    justify-content: space-between;
}
.slider{
    color:red;
}
.colorCircle{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.red{
    background:red;
}
.black{
    background:black;
}
.blue{
    background:blue;
}

.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 15px;
    background: black; 
    outline: none; 
    opacity: 0.9; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    margin: 0px;
  }
  

  .slider:hover {
    opacity: 1;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px; 
    height: 15px; 
    background: red;
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 15px; 
    height: 15px;
    background: red;
    cursor: pointer;
  }

.mainStickyDiv{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    /* z-index: 3; */
}
.stickyMenu{
    width: 100%;
    height: 30px;
    background:blue;
    display: flex;
    justify-content: flex-end;
}
textarea{
    background-color: gray;
    min-width: 60px;
}
.make_circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;

}
.minimize{
    background: green;
}
.cancel{
    background: red;
}
.hide{
    visibility: hidden;
}